//
// Variables
// --------------------------------------------------

$typography__icon--font-size: 24px;

$mdi-font-path: '../fonts';
$mdi-css-prefix: 'i';
$mdi-font-size-base: $typography__icon--font-size;

$responsive--xlarge: 1580px;
$responsive--large: 1280px;
$responsive--medium: 980px;
$responsive--small: 736px;
$responsive--xsmall: 480px;

$typography--color--dark: #263238;
$typography--color--dark-light: color('grey', 'darken-1');
$typography--color--bright: #fff;
$typography--color--bright-light: color('grey', 'lighten-2');

$typography__a--dark--color: color('red', 'darken-2');
$typography__a--bright--color: $typography--color--dark-light;

$typography__base--font-size: 15px;
$typography__h1--font-size: 29px;
$typography__h2--font-size: 24px;
$typography__h3--font-size: 22px;
$typography__h4--font-size: 18px;
$typography__h5--font-size: $typography__base--font-size;
$typography__h6--font-size: 13px;

$container-0--bg: #f2f1ed;