mixin img(alt, basePath, fileName, extention, isOpt)
    if isOpt
        figure.progressive: img(alt=alt, data-progressive=basePath + '/' + fileName + '.' + extention + '?v=@@version', data-progressive-sm=basePath + '/' + fileName + '-sm.' + extention + '?v=@@version', src=basePath + '/' + fileName + '-init.' + extention + '?v=@@version').progressive__img.progressive--not-loaded
    else
        img(alt=alt, src=basePath + '/' + fileName + '.' + extention + '?v=@@version')