head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    title !{page__title}
    meta(name='author', content='Clément Lesné <clement@clementlesne.xyz> (https://clementlesne.xyz/)')
    meta(name='description', content='Décompte billetterie Vieilles Charrues 2018')

    link(rel='profile', href='http://gmpg.org/xfn/11')

    //@@css-critical

    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js')

    script(type='application/javascript').
        var _global = {};

    block head--includes