extend ../templates/common/layout

block vars
    - var page__title = 'Décompte billetterie Vieilles Charrues 2018'
    - var page__class = 'page--index'

block content__pre


block content
    .container__inner
        .index__head
            h1
                span Ouverture billetterie&nbsp;
                span Vieilles Charrues 2018
        .index__countdown
            ul#countdown__el.index__countdown__el
                li
                    span.days --
                    p.days_text Jours
                li.separator :
                li
                    span.hours --
                    p.hours_text Heures
                li.separator :
                li
                    span.minutes --
                    p.minutes_text Minutes
                li.separator :
                li
                    span.seconds --
                    p.seconds_text Secondes
        .index__links
            a(href='https://vieillescharrues.asso.fr/2018/billetterie', target='_blank') Lien vers la billetterie (ouverture automatique à 00:00)

block content__post

