@mixin font-base {
  font-family: 'Roboto', sans-serif;
}

@mixin font-head {
  font-family: 'Bungee', sans-serif;
}

@mixin font-mono {
  font-family: 'Roboto Mono', monospace;
}

%font-base {
  @include font-base;
}

%font-head {
  @include font-head;
}

%font-mono {
  @include font-mono;
}

* {
  &::selection {

  }

  &:focus:not(:active) {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-head;

  line-height: 1;
}

body {
  @extend %font-base;

  @include rem(font-size, $typography__base--font-size);

  color: $typography--color--dark;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

%a--dark {
  color: $typography__a--dark--color;
  text-decoration-color: $typography__a--dark--color;
}

%a--bright {
  color: $typography__a--bright--color;
  text-decoration-color: $typography__a--bright--color;
}

a {
  @extend %a--dark;

  text-decoration: none;
  -webkit-tap-highlight-color: rgba(#000, 0);

  &:hover {
    text-decoration: underline;
  }
}

@include respond-to(not-small) {
  .page__content {
    p,
    li,
    figcaption {
      text-align: justify;
    }
  }
}

@include respond-to(small) {
  .page__content {
    p,
    li,
    figcaption {
      text-align: left;
    }
  }
}